/*--------------------------------------------------------------------------------------------------Header*/

.heading {
    padding: 0;
    color: #3f4A3C;
    background-color: #fff;
}

.heading img {
    height: 100%;
    width: 100%;
}

.navbar-toggler {
    border-color: #3f4A3C;
}

header ul li {
    text-align: center;
}

/*--------------------------------------------------------------------------------------------------Carousel*/

.mycarousel {
    background-color: #3f4A3C;
    min-height: 100px;
    color: #fff;
    padding: 10px;
}



/*--------------------------------------------------------------------------------------------------News*/
.news {
    background-color: #3f4A3C;
    min-height: 120px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*--------------------------------------------------------------------------------------------------Footer*/

.footing {
    color: #3f4A3C;
    background-color: #fff;
    text-align: center;
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

footer a:hover {
    color: #fff;
    background-color: #3f4A3C;
    text-decoration: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;

}

footer a {
    color: #3f4A3C;
    background-color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding: 18.815px 0;
}

footer a div {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}