/*--------------------------------------------------------------------------------------------------Header*/

.heading {
    padding: 0;
    color: #3f4A3C;
    background-color: #fff;
}

.heding img {
    height: 100%;
    width: 100%;
}

/*--------------------------------------------------------------------------------------------------Footer*/

footer {
    text-align: center;
    color: #3f4A3C;
    background-color: #fff;
    min-height: 120px;
}

footer a:hover {
    color: #fff;
    background-color: #3f4A3C;
    text-decoration: none;
    border-radius: 50%;
    width:80px;
    height:80px;
    
}

footer a {
    color: #3f4A3C;
    background-color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding: 18.815px 0;
}

footer a div {
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}


