body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

/*--------------------------------------------------------------------------------------------------Header*/
.heading {
    padding: 0;
    color: #3f4A3C;
    background-color: #fff;
}

.heading .navbar-brand #logo {
    max-height: 120px;
    width: auto;
}

.navbar-toggler {
    border-color: #3f4A3C;
}

header ul li {
    text-align: center;
}

.navbar-nav .nav-item .active {
    font-weight: 600;
    background-color: #3f4A3C;
    color: #fff;
    border-radius: 0.375rem;
}

#signupbtn {
    color: #3f4A3C;
    background-color: #ccff00;
    border-color: #bbff00;
}

#signupbtn:hover {
    color: #fff;
    background-color: #c0f000;
    border-color: #bbff00;
}

/*--------------------------------------------------------------------------------------------------Carousel*/

.mycarousel {
    background-color: #3f4A3C;
    min-height: 100px;
    color: #fff;
    padding: 10px;
}

/*--------------------------------------------------------------------------------------------------News*/
.news {
    background-color: #3f4A3C;
    min-height: 120px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    text-align: center;
}

.news a {
    text-decoration: none;
    border: solid 1px #fff;
    color: #fff;
    min-height: 150px;
    min-width: 150px;
    font-size: 36px;
    text-align: center;
    padding: 38px 0px;
    margin: 0px 50px;
    box-sizing: border-box;
}

.news a div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

/*--------------------------------------------------------------------------------------------------About*/

#about {
    background-color: #3f4A3C;
    min-height: 100px;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#about .container {
    text-align: start;
    padding-top: 20px;
}

#about .container h3 {
    text-align: center;
}
/*--------------------------------------------------------------------------------------------------Address*/

#location {
    background-color: #3f4A3C;
    min-height: 100px;
    color: #fff;
    padding: 20px 20%;
    text-align: start;  
}

#location .col-location {
    padding: 0;
}
/*-------------------------------------------------------------------------------------------Membership form*/

#signup {
    background-color: #fff;
    min-height: 120px;
    color: #3f4A3C;
    padding: 0% 20%;
}

/* taken from w3 schools - How TO - Hide Arrows From Input Number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*--------------------------------------------------------------------------------------------------Footer*/

.footing {
    color: #3f4A3C;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

footer a:hover {
    color: #fff;
    background-color: #3f4A3C;
    text-decoration: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;

}

/* transition taken from bootstraps nav-link class. Needed to add border radius to stop square appearing when easing out. Also required width and height. */

footer a {
    color: #3f4A3C;
    background-color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding: 18.815px 0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

footer a div {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

/*-----------------------------------------------------------------------------------------------Media Queries*/

/*col-md css used for custom media query at 903px make map move to next line and not distrub address lines*/
@media screen and (min-width: 903px) {
.col-location {
    flex: 1 0 0%;
}
}

/* @media screen and (max-width: 1369px) {
    #signup div {
        display: block;
    }
    } */