body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*--------------------------------------------------------------------------------------------------Header*/
.heading {
    padding: 0;
    color: #3f4A3C;
    background-color: #fff;
}

.heading .navbar-brand #logo {
    max-height: 120px;
    width: auto;
}

.navbar-toggler {
    border-color: #3f4A3C;
}

header ul li {
    text-align: center;
}

.navbar-nav .nav-item .active {
    font-weight: 600;
    background-color: #3f4A3C;
    color: #fff;
    border-radius: 10%;
}

.navbar-nav .nav-item #signup {
    color: #3f4A3C;
    background-color: #ccff00;
    border-color: #bbff00;
}

.navbar-nav .nav-item #signup:hover {
    color: #fff;
    background-color: #c0f000;
    border-color: #bbff00;
}


/*--------------------------------------------------------------------------------------------------Carousel*/

.mycarousel {
    background-color: #3f4A3C;
    min-height: 100px;
    color: #fff;
    padding: 10px;
}



/*--------------------------------------------------------------------------------------------------News*/
.news {
    background-color: #3f4A3C;
    min-height: 120px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    text-align: center;
}

.news a {
    text-decoration: none;
    border: solid 1px #fff;
    color: #fff;
    min-height: 150px;
    min-width: 150px;
    font-size: 36px;
    text-align: center;
    padding: 38px 0px;
    margin: 0px 50px;
    box-sizing: border-box;
}


.news a div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
/*--------------------------------------------------------------------------------------------------Footer*/

.footing {
    color: #3f4A3C;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

footer a:hover {
    color: #fff;
    background-color: #3f4A3C;
    text-decoration: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;

}

footer a {
    color: #3f4A3C;
    background-color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding: 18.815px 0;
}

footer a div {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}